#reg{
    position: fixed;
    margin-top: 35vh;
    margin-left: 63.4%;
    border-radius: .5rem;
    height: auto;
    width: 15%;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);

  }
  
  Button.signin{
    background-color: #ffffff !important;
    border: none;
    color: black;
    font-weight: bold;
  }
  Button.signin:hover{
    background-color: #ffffff !important;
    border: none !important;
    color: #000000;
  }
  
  Button.signup{
    background-color: #ffffff !important;
    border: none;
    color: black;
    margin-top: .5rem;
    font-weight: bold;
    
  }
  Button.signup:hover{
    background-color: #ffffff !important;
    border: none !important;
    color: #000000;
  }
  .accountpic{
height: 18px;
width: 18px;
margin-left: 8px;
  }

  
  
  
  
  
  
  
  